.footer {
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    90deg,
    rgb(254, 254, 255) 0%,
    rgb(252, 164, 162) 35%,
    rgb(255, 255, 255) 100%
  );
}
